:root {
  --main-font: "Raleway", sans-serif;
  --color-background: #f7f7f7;
  --color-light: #cfeaff;
  --color-light-dark: #a5d8ff;
  --color-text-muted: #7fc7ff;
  --color-text-important: #59b6ff;

  --tag-1:#ceecfd;
  --tag-1-text:#2e87ba;
  --tag-2:#d6ede2;
  --tag-2-text:#13854e;
  --tag-3:#ceecfd;
  --tag-3-text:#2d86ba;
  --tag-4:#f2dcf5;
  --tag-4-text:#a734ba;
  --tag-5:#fde3ce;
  --tag-5-text:#ba662e;
  --status-open:#e9edf0;
  --status-open-text:#586a7a;
  --status-inwork:#e5ecff;
  --status-inwork-text:#4e79eb;
  --status-close:#e1f7e1;
  --status-close-text:#39b634;
  --light-grey:#c4cad3;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background); 
}

/* Календарь */

.user-diary__calendar {
  width: 100%;
}

.calendar__table {
  width: 100%;
  border-collapse: collapse;
}

.calendar__th, .calendar__td {
  text-align: center;
  padding: 4px 8px 0 8px;
}

.calendar__td {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.calendar__th {
  font-weight: 400;
}

.calendar__tr:last-child .calendar__td {
  padding-top: 12px;
}

.calendar__th--active {
  font-weight: 600;
  color: var(--color-text-important);
}

.calendar__td--active{
  color: var(--color-text-important);
  position: relative;
}

.calendar__td--active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px; 
  height: 4px; 
  background-color: var(--color-text-important); 
  border-radius: 50%;
}

.calendar__td--muted {
  color: var(--light-grey)
}

.user-diary__calendar {
  margin-bottom: 20px;
}

/* Задачи пользователя */
.user-tasks {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.user-page__user-tasks {
  margin-right: 50px;
}

.user-tasks__welcome-text {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  color: #b8b8b8;
  cursor: default;
}

.user-tasks__title-text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
  cursor: default;
}

.user-page {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
}

.filter-task {
  margin-bottom: 15px;
}

.filter-task__list {
  display: flex;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-task__item {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.filter-task__item:not(:last-child) {
  margin-right: 20px;
}

.filter-task__item--active {
  color: #59b6ff;
}

.filter-task__filter {
  margin: 0;
  padding: 0;
}

.tasks-list__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tasks-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.task-details {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(43, 43, 43, 0.082);
  border-radius: 11px;
  padding: 20px;
  position: relative;
}

.task-details__header-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-details__decorative-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-details__tags {
  margin-right: 25px;
  cursor: pointer;
}

.task-details__title {
  font-weight: 600;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.task-details__description {
  margin-bottom: 20px;
  cursor: pointer;
}

.task-details__description {
  font-weight: 400;
  color: rgb(156, 156, 156);
}

.task-details__workers-list {
  margin-bottom: 20px;
}

.workers-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-details__workers-list {
  margin-bottom: 20px;
}

.workers-list__icon-wrapp {
  width: 30px;
  position: relative;
}

.workers-list__icon {
  width: 40px;
  border-radius: 50%;
  border: #ffffff 4px solid;
  cursor: pointer;
}

.task-details__progress-task {
  margin-bottom: 20px;
}

.progress-task__text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-task__label {
  font-size: 18px;
  font-weight: 600;
}

.progress-task__value {
  font-size: 17px;
  font-weight: 600;
  color: var(--color-text-important);
}

.progress-task__bar {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
        appearance: none;
  border: none;
  border-radius: 10px;
  height: 10px;
}

.progress-task__bar::-webkit-progress-bar {
  background-color: var(--color-light);
}

.progress-task__bar::-moz-progress-bar {
  background-color: var(--color-light);
}

.progress-task__bar::-webkit-progress-value {
  background: var(--color-text-important);
}

.progress-task__bar::-webkit-progress-bar, .progress-task__bar::-webkit-progress-value {
  border-radius: 10px;
}

.properety-button {
  display: flex;
  cursor: pointer;
}

.properety-button__element {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(197, 197, 197);
}

.properety-button__element:not(:last-child) {
  margin-right: 3px;
}

/* Секция пользователя с его ежедневником */

.user-section {
  max-width: 500px;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-section__user-block {
  margin-bottom: 30px;
}

.user-info__user-icon {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info__user-name {
  font-size: 20px;
  font-weight: 600;
}

.user-block__settings {
  cursor: pointer;
}

.user-diary {
  width: 100%;
}

.user-diary__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-diary__title {
  font-weight: 600;
  font-size: 20px;
}

.user-diary__add-task-button {
  font-weight: 600;
  color: #ffffff;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-diary .user-diary__add-task-button:hover, .user-diary .diary-task__button-complite:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71);
}

.user-diary__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-diary__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 3px;
  height: 100%;
  z-index: -1;
  background-color: var(--color-text-important);
}

.user-diary__item {
  display: flex;
  justify-content: space-between;
}

.user-diary__radio-select-task-wrap {
  display: block;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}

.user-diary__radio-select-task{
  position: relative;
  width: 15px;
  height: 15px;
  background-color: var(--color-text-important);
  border-radius: 50%;
  border: 2px solid var(--color-text-important);
}

.user-diary__radio-select-task::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-diary__radio-select-task--active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--color-text-important);
  border-radius: 50%;
  transform: scale(-70%);
}

.user-diary__radio-select-task-wrap:not(:has(.user-diary__radio-select-task--active)) {
  padding-top: 20px;
}

.user-diary__radio-select-task:not(.user-diary__radio-select-task--active) {
  transform: scale(0.7);
}

.diary-task {
  border-radius: 11px;
  padding: 20px;
  width: 100%;
}

.diary-task--active {
  background-color: var(--color-text-important);
}

.diary-task__header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.diary-task__description {
  color:  #1a5585;
  font-weight: 600;
  margin-bottom: 15px;
  width: 60%;
}

.diary-task__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.diary-task__workers-list .workers-list__icon {
  border-color: var(--color-background);
}

.diary-task--active .diary-task__workers-list .workers-list__icon {
  border-color: var(--color-text-important);
}

.diary-task__button-complite {
  background-color: black;
  border: none;
  padding: 15px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.diary-task__button-complite>.button-complite__icon {
  color: #ffffff;
  font-size: 20px;
}

/* АДАПТИВ */

@media (max-width: 750px) {
  .user-page {
    flex-direction: column-reverse;
  }

  .user-page__user-section {
    margin-bottom: 50px;
  }

  .user-page__user-tasks {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .user-page {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 427px) {
  .filter-task__list {
    flex-wrap: wrap;
  }
}

/* -------------- Удалить ---------- */

.task__tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task__tag {
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
  font-weight: 700;
}

.task__tag--develop {
  color: var(--tag-4-text);
  background-color: var(--tag-4);
}

.task__tag--mark {
    color: var(--tag-3-text);
    background-color: var(--tag-3);
  }

.task__tag--buy {
  color: var(--tag-2-text);
  background-color: var(--tag-2);
}

.task__tag--financ {
  color: var(--tag-5-text);
  background-color: var(--tag-5);
}

.task__stats {
  position: relative;
  width: 100%;
  color: var(--light-grey);
  font-size: 12px;
  font-weight: 700;
}

.task-details__task__stats {
  cursor: default;
}

.status__owners {
  position: absolute;
  right: 0;
  bottom: 0;
}

.status__owner{
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
  font-weight: 700;
}

.status--close {
  color: var(--status-close-text);
  background-color: var(--status-close);
}

.status--open {
  color: var(--status-open-text);
  background-color: var(--status-open);
}

.status--inwork {
  color: var(--status-inwork-text);
  background-color: var(--status-inwork);
}
