@import url('https://use.fontawesome.com/releases/v6.5.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-font: "Raleway", sans-serif;
  --color-background: #f7f7f7;
  --color-light: #cfeaff;
  --color-light-dark: #a5d8ff;
  --color-text-muted: #7fc7ff;
  --color-text-important: #59b6ff;

  --tag-1:#ceecfd;
  --tag-1-text:#2e87ba;
  --tag-2:#d6ede2;
  --tag-2-text:#13854e;
  --tag-3:#ceecfd;
  --tag-3-text:#2d86ba;
  --tag-4:#f2dcf5;
  --tag-4-text:#a734ba;
  --tag-5:#fde3ce;
  --tag-5-text:#ba662e;
  --status-open:#e9edf0;
  --status-open-text:#586a7a;
  --status-inwork:#e5ecff;
  --status-inwork-text:#4e79eb;
  --status-close:#e1f7e1;
  --status-close-text:#39b634;
  --light-grey:#c4cad3;
}